*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --color-bg-hero: #b8d1e5;
    --color-bg-footer: #000000;
    --color-bg-main: #ffffff;
    --color-giallognolo: #ffd830;
    --color-bluastro: #0d2481;
    --color-red1: #ff1c1c;
    --color-lightblue: #0093ce;
    --color-whoknows: #b4d0e7;
    --color-redbello: #d5001f;
    --color-bordeux: #61082b;
    --color-peggiorverdedisempre: #a2d39b;
    --color-bg-bottom: #0061ff;
    --color-white: #f5f5f5;
    --color-borders: #e4e4e5;
    --color-submenu: #f1ede7;
    --color-submenu-hover: #e8e2d7;
    --width-container: 1000px;
    --width-hero: 1200px;
}
/* NAV */
a{
    text-decoration: none;
    color: var(--color-bg-footer);
}
nav{
    background-color: var(--color-white);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.submenu-container{
    position: relative;
}
.submenu-wrapper{
    width: 400px;
    position: absolute;
    bottom: -285px;
    right: -156px;
    display: none;
}
.submenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-submenu);
    color: var(--color-bg-footer);
}
.halfmenu{
    width: 50%;
    height: 100%;
    display: inline-block;
    line-height: 1;
}
.halfmenu > ul{
    list-style: none;
}
.halfmenu > ul > h5{
    font-size: 20px;
    padding: 10px 10px;
}
.halfmenu > ul > li{
    line-height: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px 10px;
}
nav > div > img{
    padding-left: 10px;
    padding-right: 10px;
}
nav > div > a{
    padding: 28px 10px;
}
nav > div > a:hover{
    border-bottom: 2px solid var(--color-bg-footer);
}
.soluzioni:hover .submenu-wrapper{
    display: block;
}
.halfmenu > ul > li:hover{
    background-color: var(--color-submenu-hover);
}
/* HERO */
header{
    background-color: var(--color-bg-hero);
}
.hero{
    max-width: var(--width-hero);
    margin: 0 auto;
    margin-top: 80px;
}
.hero > h1{
    font-size: 90px;
    padding-bottom: 40px;
    padding-top: 70px;
}
.hero-container{
    display: flex;
    justify-content: center;
}
.hero-text{
    width: 30%;
    position: relative;
}
.hero-text > p{
    margin-bottom: 40px;
    font-size: 20px;
}
.margin{
    margin-bottom: 40px;
    font-size: 20px;
}
.btn{
    appearance: none;
    border: none;
    background-color: var(--color-bg-bottom);
    color: var(--color-white);
    padding: 10px 10px;
    cursor: pointer;
}
.hero-img{
    width: 70%;
}
.hero-img > img{
    width: 100%;
    height: 110%;
    position: relative;
    bottom: -5px;
    left: 0;
}
#arrow{
    font-size: 50px;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
/* MAIN */
main{
    background-color: var(--color-bg-main);
}
h2{
    font-size: 40px;
    padding: 50px 0;
}
.main-container{
    max-width: var(--width-container);
    margin: 0 auto;
}
.checkbox-container{
    padding: 40px 0;
}
.space2{
    margin-left: 80px;
    display: inline-block;
}
.business-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.business{
    width: calc((100% / 3) - 40px);
    border: 2px solid var(--color-borders);
    height: 1000px;
}
.business-bottom{
    width: 100%;
    height: 300px;
    border: 2px solid var(--color-borders);
    margin-top: 50px;
}
.business-header{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid var(--color-borders);
    text-align: center;
    line-height: 40px;
}
.business-header > span{
    font-size: 20px;
    padding-left: 5px;
}
.header-bottom{
    height: 15%;
}
.inline{
    display: inline;
}
.business-body{
    width: 80%;
    margin-left: 33px;
}
.business-body > div > h4{
    margin-top: 30px;
    padding-bottom: 15px;
    font-size: 30px;
}
.p-margin{
    margin-left: 10px;
}
.em-grey{
    color: darkgrey;
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 50px;
}
.enterprise-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.prova{
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.text-bottom-container{
    height: 50%;
    margin: 30px 20px 0 20px;
}
.text-bottom-container > h6{
    font-size: 17px;
    padding-bottom: 40px;
}
.enterprise-button{
    display: inline-block;
    margin-right: 30px;
    padding: 10px 25px;
}
.enterprise-h4{
    display: inline-block;
    font-size: 30px;
    padding-left: 20px;
}
.margin-fix{
    margin-top: 52px;
}
.business-item-container{
    width: 100%;
}
.business-item{
    display: inline;
    width: 10%;
    height: 30px;
    padding-top: 15px;
    position: relative;
    top: 0px;
    left: 0;
}
.folder-position{
    top: -20px;
}
.item-position{
    top: -40px;
}
.business-items{
    display: inline-block;
    width: 90%;
    height: 30px;
    padding-top: 10px;
}
.business-link{
    color: var(--color-bg-bottom);
    text-decoration: underline;
}
.space{
    width: 50px;
    height: 10px;
    border-bottom: 2px solid var(--color-borders);
    margin: 30px 0;
}
.business-body > ul{
    list-style: none;
}
.business-body > ul > li{
    margin-bottom: 20px;
    font-size: 15px;
    text-indent: -18px;
}
.business-body > ul > h5{
    font-size: 15px;
    padding: 20px 0;
}
.business-body > ul > li::before{
    content: "\2714";
    color: var(--color-bg-bottom);
    font-size: 15px;
    font-weight: bold;
}
.business-footer{
   width: 100%;
   height: 600px;
   display: flex;
   margin-top: 100px;
   justify-content: center;
}
.business-footer-img{
    width: 60%;
}
.business-footer-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}
.business-footer-text{
    width: 40%;
    padding: 50px 50px 0 50px;
}
.h3-container{
    width: 100%;
    padding-bottom: 20px;
}
.h3-container > h3{
    font-size: 35px;
}
.p-container{
    width: 100%;
}
.p-container > p{
    font-size: 20px;
    padding-bottom: 20px;
}
.button-container{
    width: 100%;
}
.button-container > button{
    appearance: none;
    padding: 10px 20px;
    background-color: var(--color-white);
    font-size: 20px;
    margin-top: 20px;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.card{
    width: calc((100% - 60px) / 3);
    height: 700px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.card-img{
    width: 100%;
    height: 40%;
}
.card-img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-text{
    width: 80%;
    height: 60%;
    font-size: 16px;
    padding-left: 50px;
}
.card-text > h4{
    font-size: 25px;
}
.card-text > p{
    font-size: 18px;
}
.blue-underline{
    color: var(--color-bg-bottom);
    text-decoration: underline;
}
#big-section{
    width: calc(100% - 10px);
    margin-top: 50px;
}
.square-container{
    width: 100%;
    display: flex;
}
.square{
    width: calc(100% / 3);
    height: 631px;
    display: flex;
    flex-wrap: wrap;
}
.small-box{
    width: 50%;
    height: 50%;
}
.small-box > img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    filter: invert(1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-greenish{
    background-color: var(--color-peggiorverdedisempre);
}
.bg-bordeux{
    background-color: var(--color-bordeux);
}
.bg-lightblue{
    background-color: var(--color-lightblue);
}
.bg-hotred{
    background-color: var(--color-red1);
}
.bg-red{
    background-color: var(--color-redbello);
}
.bg-superlightblue{
    background-color: var(--color-whoknows);
}
.bg-blue{
    background-color: var(--color-bluastro);
}
.bg-yellow{
    background-color: var(--color-giallognolo);
}
.bg-lightgrey{
    background-color: var(--color-white);
}
.designit{
    width: 100%;
    height: 100px;
}
.middlesquare > div > img{
    width: 250px;
    height: 100px;
    margin: 30px;
}
.square > p{
    padding: 20px;
}
.space2{
    width: 100px;
    margin: 10px 0 10px 20px;
}
.rectangle{
    width: calc(100%);
    height: 300px;
    background-color: var(--color-bg-hero);
}
.rectangle-wrapper{
    width: var(--width-container);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle-wrapper > h2{
    color: var(--color-bordeux);
    margin-top: 50px;
}
.rectangle-button{
    width: 300px;
}
.rectangle-button > button{
    background-color: var(--color-bg-main);
    border: none;
    appearance: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 30px;
}
.summary-wrapper{
    width: 100%;
}
.summary-container{
    width: 100%;
    height: 100px;
    border-top: 1px solid var(--color-borders);
    padding: 40px 0;
    font-weight: bold;
    cursor: pointer;
}
.extra{
    border-bottom: 1px solid var(--color-borders);
}
footer{
    background-color: var(--color-bg-footer);
    width: 100%;
    margin-top: 150px;
}
.footer-top > ul{
    list-style: none;
    color: var(--color-bg-main);
}
.footer-top{
    width: var(--width-container);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top > ul > li{
    font-size: 15px;
    padding: 5px 0;
}
.footer-top > ul > h6{
    font-size: 20px;
    padding: 20px 0;
    margin-top: 60px;
}
.footer-bot{
    width: var(--width-container);
    margin: 0 auto;
}
.footer-space{
    border-bottom: 1px solid var(--color-borders);
    height: 1px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.select-container{
    color: var(--color-borders);
    position: relative;
}
.select-box{
    border: none;
    appearance: none;
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    padding: 0 30px 0 28px;
    max-width: 70%;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 100px;
}
.fa-caret-up{
    position: absolute;
    top: 5px;
    left: 110px;
}