*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --color-bg-hero: #b8d1e5;
    --color-bg-footer: #000000;
    --color-bg-main: #ffffff;
    --color-giallognolo: #ffd830;
    --color-bluastro: #0d2481;
    --color-red1: #ff1c1c;
    --color-lightblue: #0093ce;
    --color-whoknows: #b4d0e7;
    --color-redbello: #d5001f;
    --color-bordeux: #61082b;
    --color-peggiorverdedisempre: #a2d39b;
    --color-bg-bottom: #0061ff;
    --color-white: #f5f5f5;
    --color-borders: #e4e4e5;
    --width-container: 1200px;
    --width-hero: 1400px;
}
a{
    text-decoration: none;
    color: var(--color-bg-footer);
}
nav{
    background-color: var(--color-white);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
nav > div > a,img{
    padding-left: 10px;
    padding-right: 10px;
}
header{
    background-color: var(--color-bg-hero);
}
.hero{
    max-width: var(--width-hero);
    margin: 0 auto;
    margin-top: 80px;
}
.hero > h1{
    font-size: 90px;
    padding-bottom: 40px;
    padding-top: 70px;
}
.hero-container{
    display: flex;
    justify-content: center;
}
.hero-text{
    width: 30%;
    position: relative;
}
.hero-text > p{
    margin-bottom: 40px;
    font-size: 20px;
}
.margin{
    margin-bottom: 40px;
    font-size: 20px;
}
.btn{
    appearance: none;
    border: none;
    background-color: var(--color-bg-bottom);
    color: var(--color-white);
    padding: 10px 15px;
}
.hero-img{
    width: 70%;
}
.hero-img > img{
    width: 100%;
}
#arrow{
    font-size: 50px;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
main{
    background-color: var(--color-bg-main);
}
h2{
    font-size: 40px;
    padding: 50px 0;
}
.main-container{
    max-width: var(--width-container);
    margin: 0 auto;
}
.checkbox-container{
    padding: 40px 0;
}
#span2{
    margin-left: 80px;
}
.business-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.business{
    width: calc((100% / 3) - 40px);
    border: 2px solid var(--color-borders);
    height: 850px;
}
.business-header{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid var(--color-borders);
    text-align: center;
    line-height: 40px;
}
.business-header > span{
    font-size: 20px;
    padding-left: 5px;
}
.inline{
    display: inline;
}
.business-body{
    width: 80%;
    margin-left: 33px;
}
.business-body > h4{
    margin-top: 30px;
    padding-bottom: 15px;
    font-size: 25px;
}
.p-margin{
    margin-left: 10px;
}
.em-grey{
    color: darkgrey;
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 50px;
}
.business-body > i,.p-margin{
    display: inline;
}
.prova{
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}
.business-link{
    color: var(--color-bg-bottom);
    text-decoration: underline;
}
.space{
    width: 50px;
    height: 10px;
    border-bottom: 2px solid var(--color-borders);
    margin: 30px 0;
}
.business-body > ul{
    list-style: none;
}
.business-body > ul > li{
    margin-bottom: 20px;
    font-size: 15px;
}
.business-body > ul > h5{
    font-size: 15px;
    padding: 20px 0;
}
.business-body > ul > li::before{
    content: "\2714";
    color: var(--color-bg-bottom);
}
business-footer{
    width: 100%;
}
.business-footer-img > img{
    width: 60%;
}
.business-footer-text{
    width: 40%;
}